$black: #000000;
$dark-grey: #222222;
$yellow: #fff155;
$green: #bcff00;
$light-grey: #f8f8f8;

$breakpoint-large-desktop-width: 2560px;
$breakpoint-medium-desktop-width: 1920px;
$breakpoint-desktop-width: 1440px;
$breakpoint-laptop-width: 1024px;
$breakpoint-tablet-width: 768px;
$breakpoint-mobile-width: 455px;
$breakpoint-small-mobile-width: 375px;
$main-min-width: 320px;
$main-max-width: 1100px;
